body{
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.Page{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo{
    width: 10%;
    height: auto;
    position: absolute;
    left: 50%;
    top : 10px;
    transform: translateX(-50%);
}

.contenu{
    background-color: #F2F2F2;
    width: 50%;
    margin: 0;
    height: 100%;
    padding: 10% 0;
}

.fond{
    background-color: #222222;
    width: 50%;
    margin: 0;
    height: 100%;
}

.imgjeux{
    display: none;
}

.imgjeuxgde{
    width: 100%;
    position: relative;
    top: 20px;
}


/* BOUTON carte de jeu*/

.rejoins-nous{
    background-color: #F2F2F2;
    border: #29a7f5 8px solid;
    width: 175px;
    height: 268px;
    text-align: center;
    border-radius: 12px;
    margin-left: calc((100% - 175px * 2 - 4 * 8px - 30px)/2);
    box-shadow: 0 0 50px #222222AA;
}

.rejoins-nous>img{
    width: 175px;
    height: auto;
}

.titre-carte{
    display: flex;
}

.titre-carte>img{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.decouvrir-plus{
    background-color: #F2F2F2;
    border: #DB0000 8px solid;
    width: 175px;
    height: 268px;
    text-align: center;
    border-radius: 12px;
    margin-left: 15px;
    box-shadow: 0 0 50px #222222AA;
}

.decouvrir-plus>img{
    width: 175px;
    height: auto;
}

.boutons{
    display: flex;
    text-align: center;
}