/* Section haut de page */
    .section-haut-page{
        height: calc(100vh - 205px);
        text-align: center;
        background-color: #FAFAFA8F;
        padding: 40px 20px;
    }

    .section-haut-page>h1{
        position: relative;
        margin: 0 0 75px;
    }

    .section-haut-page>.carte{
        position: relative;
        margin: auto;
    }

/* Section lien affilié */
    .section-pub{
        padding-bottom: 0;
    }
    .lienaffiliepub{
        display: flex;
        overflow-x: hidden;
    }


/* Contact */
    .section-Nathan>div,
    .section-Raphael>div,
    .section-Benoit>div{
        text-align: center;
    }

/* Mentions Légales*/
    .section-CGU>h1{
        margin-bottom: 0;
    }
    .section-CGU>p{
        margin-bottom: 0;
        padding: 0;
    }