/* Choix du jeu */
.Page-choixdujeu{
    overflow-y: hidden;
}

.Page-choixdujeu>div>section{
    height: calc(100vh - 80px);
    padding: 0;
}

.Page-choixdujeu>div>section{
    text-align: center;
}


/* Inscription */
.Page-Inscription>div{
    text-align: center;
}

.Page-Inscription>div>section>form>label>input{
    width: calc(100% - 10px);
    height: 30px;
    margin: 10px 0;
    border-radius: 20px;
    border: #d0cff8;
}

.Page-Inscription>div>section>form>label>input[placeholder]{
    padding-left: 10px;
}

.Page-Inscription>div>section>form{
    padding-inline: 10%;
    text-align: left;
}

/* Compte */
.Compte>.section-image-haut-page{
    background-image: url("img/Contact/image-fond-benoit.png");

}

.section-image-haut-page>.section-compte-image-compte{
    background-color: #FAFAFA;
    border: #222222 solid 1px;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.section-image-haut-page>.section-compte-image-compte>img{
    width: 75%;
    height: auto;
    vertical-align: middle;
}