/* Page */
    .page{
        text-align: center;
        position: relative;
        top: 60px;
        left: 0;
        height: calc(100vh - 60px - 55px);
    }

    .page>svg{
        width: auto;
        height: 90%;
        cursor: default;
        position: absolute;
        transform: translateX(-50%);
        z-index: 0;
    }

    .page>section{
        position: relative;
        z-index: 1;
    }

/* Form */
    input{
        width: calc(3 * 15vw);
        height: 3vh;
        border: #555555 solid 1px;
        border-radius: 5px;
    }

    input[type="submit"]{
        width: 15vw;
        height: 3vh;
        border: #157E1C solid 1px;
        background-color: #157E1C;
        border-radius: 5px;
        cursor: pointer;
    }



/* Connexion.html */
    .Page-Connexion{
        overflow: hidden;
        text-align: center;
    }

    .Page-Connexion>.page>section>form{
        display: grid;
        grid-template-columns: repeat(5, 15vw);
        grid-template-rows: repeat(8, 3vh);
        border: #555555 solid 1px;
        border-radius: 10px;
        width: calc(5 * 15vw);
        margin: 0 auto;
        background-color: #FFFFFFA8;
    }

    .Page-Connexion>.page>section>form>.Label-pseudo{
        grid-column: 2/5;
        grid-row: 2/3;
    }

    .Page-Connexion>.page>section>form>.Label-mdp{
        grid-column: 2/5;
        grid-row: 4/5;
    }

    .Page-Connexion>.page>section>form>.Label-valider{
        grid-column: 2/5;
        grid-row: 7/8;
    }
