/* Mise en page Générale */
    /* Body */
        body{
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
        }



    /* Images */
        img{
        width: 50px;
        height: auto;
    }



    /* SVG */
        svg{
        width: 30px;
        height: auto;
    }



    /* Header */
        header{
            background-color: #157E1C;
            width: 100vw;
            height: 50px;
            display: flex;
        }

        .header-logo-nom{
            margin: 15px 0;
        }

        .header-bouton-compte,
        .header-bouton-annuler{
            margin: 10px 0;
        }

        header>div>svg{
            height: 25px;
        }

        header>div>div>a>img{
            width: 30px;
        }

        .header-bouton-compte,
        .header-bouton-annuler{
            width: 15%;
            text-align: center;
        }

        .header-logo-nom{
            display: flex;
            width: 70%;
            align-items: center;
            justify-content: center;
        }

        .header-logo{
            margin-right: 5px;
        }

        .header-logo-nom>a{
            position: relative;
            top: 10px;
            transform: translateY(-20px);
        }




    /* Menu-bas-page */
        .Menu-bas-page{
            background-color: #157E1C;
            width: 100vw;
            height: 55px;
            display: flex;
            text-align: center;
            position: fixed;
            bottom: 0;
            padding-top: 10px;
        }

        .Menu-bas-page>div{
            width: 100%;
        }

        .Menu-bas-page>div>a>svg{
            width: 30px;
        }

        .Menu-bas-page>div>a:nth-child(2n){
            width: 100%;
            margin: 0 0 5px;
        }

        .menu-Accueil>svg{
            margin-bottom: 3px;
        }

        .menu-Groupes>svg{
            margin: 3px 0;
        }



    /* Footer */
        footer{
            background-color: #222222;
            width: 100vw;
            text-align: center;
            padding-bottom: 20px;
        }

        .footer-menu{
            display: flex;
            width: 100%;
            margin: 0 0 20px 0;
        }

        .footer-menu>section{
            width: 33%;
            margin: 0;
        }

        .footer-decouvrir{
            text-align: left;
            padding-left: 5px;
        }

        .footer-ensavoirplus{
            text-align: center;
        }

        .footer-contact{
            text-align: right;
            padding-right: 10px;
        }

        .footer-logos-reseaux{
            text-align: center;
        }

        .footer-logos-reseaux>a>img{
            margin: 0 10px;
        }





/* Mise en page Spécifique (Ordonnée par page) */
    /* Accueil.html */

        .page-accueil h1 {
            text-align: center;
        }

        .carte-accueil{
            text-align: center;
            background-color: #F2F2F2;
            border: 10px solid #157E1C;
            border-radius: 20px;
            width: 230px;
            margin-right: auto;
            margin-left: auto;
        }

        .carte-accueil>#logo-carte1 {
            margin-right: 110px;
        }

        #logo-carte1, #logo-carte2{
            margin-top: 10px;
        }

        .carte-accueil>h2{
            color: #157E1C;
            margin-bottom: 60px;
        }

        .carte-accueil>p{
            width: 110px;
            margin-right: auto;
            margin-left: auto;
            line-height: 30px;
            margin-bottom: 60px;
            font-size: 20px;
        }

        .carte-accueil>form>button {
            color: #F2F2F2;
            background-color: #157E1C;
            border-style: none;
            border-radius: 15px;
            width: 100px;
            height: 20px;
            margin-bottom: 20px;
        }

        /*yo*/

    /* Connexion.html */
    /* Compte.html */
    /* Inscription.html */
    /* Groupes.html */
    /* Ludotheques.html */
    /* Groupe.html */
    /* Ludotheque.html */
    /* ChoixDuJeu.html */
    /* MentionsLegales.html */
    /* Contact.html */