/* Body */
    html{
        scroll-padding-top: 80px;
    }

    body{
        margin: 0;
        width: 100%;

    }



/* Header */
    header{
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        background-color: #157E1C;
        width: 100%;
        height: 60px;
        text-align: center;
        z-index: 999;
    }

    .header-bouton-compte,
    .header-bouton-annuler{
        width: 60px;
    }

    .header-bouton-compte>svg,
    .header-bouton-annuler>svg{
        width: 30px;
        margin: calc((60px - 34px)/2) 0;
    }

    header>div.header-logo-nom{
        width: calc(100% - 2 * 40px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header>div.header-logo-nom>.header-logo{
        text-align: right;
    }

    header>div.header-logo-nom>.header-nom{
        text-align: left;
        margin-left: 10px;
    }

    .header-logo>a>img{
        width: auto;
        height: 40px;
    }



/* Menu-bas-page */
    .Menu-bas-page{
        background-color: #157E1C;
        width: 100%;
        height: 55px;
        display: flex;
        text-align: center;
        position: fixed;
        bottom: 0;
        padding-top: 10px;
        z-index: 999;
    }

    .Menu-bas-page>div{
        width: 100%;
    }

    .Menu-bas-page>div>a:nth-child(2n){
        width: 100%;
        margin: 0 0 5px;
    }

    .Menu-bas-page>div>a>svg{
        width: 30px;
    }

    .menu-Accueil>svg{
        margin-bottom: 3px;
    }

    .menu-Groupes>svg{
    margin: 3px 0;
}



/* Footer */
    footer{
        width: 100%;
        position: relative;
        z-index: 555;
        background-color: #222222;
        text-align: center;
        padding-bottom: 80px;
    }

    .footer-menu{
        display: flex;
        width: 100%;
        margin-bottom: 25px;
    }

    .footer-menu-decouvrir{
        width: calc((100% - 10px) / 3);
        height: auto;
        text-align: left;
        margin-left: 5px;
    }

    .footer-menu-ensavoirplus{
        width: calc((100% - 10px) / 3);
        height: auto;
        text-align: center;
    }

    .footer-menu-contact{
        width: calc((100% - 10px) / 3);
        height: auto;
        text-align: right;
        margin-right: 5px;
    }

    .footer-logos-reseaux{
        display: flex;
        margin: 0 auto 25px;
        width: 60%;
        text-align: center;
    }

    .footer-logos-reseaux>a{
        width: calc(100%/4);
        height: auto;
        margin: 5px;
    }

    footer>img{
        width: 100px;
        height: auto;
    }

    footer>p{
        margin-bottom: 0;
    }