/* Font Titre*/
@font-face{
    font-family:"rotulista-regular";
    src:url("https://dafonttop.com/wp-data/r/36/8036/file/Rotulista-Regular.otf") format("woff"),
    url("https://dafonttop.com/wp-data/r/36/8036/file/Rotulista-Regular.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/r/36/8036/file/Rotulista-Regular.otf") format("truetype");
}

/* Font Texte */
@font-face {
    font-family: "metropolis-regular";
    src: url("https://www.1001fonts.com/metropolis-font.html") format("otf")
}

header{
    background-color: #268F2D;
    height: 40px;
    width: 100vw;
}

header>nav>ul>li>a{
    font-family: rotulista-regular, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #F2F2F2;
}

