/* Font Titre*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/* Font Texte */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Typographie Générale */

    h1{

    }

    h2 {
        font-family: "Source Serif Pro", sans-serif;
        font-size: 34px;
        font-weight: bold;
        color: #222222;
    }

    h3{
        font-family: "Source Serif Pro", sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #FAFAFA;
    }

    h4{

    }

    h5{

    }

    h6{
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #222222;
    }

    p{
        font-family: Raleway, serif;
        font-size: 14px;
        font-weight: normal;
    }

    a{
        font-family: Raleway, serif;
        font-size: 16px;
        text-decoration: none;
        color: #222222;
    }

    input[value]{
        font-style: italic;
    }

    input[type="submit"]{
        color: #FAFAFA;
        font-family: "Source Serif Pro", sans-serif;
        font-size: 2vh;
        font-weight: bold;
    }

    /* Texte Header */
        .header-nom>a{
            font-family: "Source Serif Pro", sans-serif;
            font-size: 24px;
            color: #FAFAFA;
        }


    /* Texte Footer */
        footer>div>section>a{
            font-family: "Source Serif Pro", sans-serif;
            font-size: 14px;
            color: #FAFAFA;
        }

        footer>p,
        footer>p>a{
            color: #FAFAFA;
        }

    /* Menu Bas page */
        .Menu-bas-page>div>a>img{
            float: none;
        }

        .Menu-bas-page>div>a{
            font-family: "Source Serif Pro", sans-serif;
            font-size: 10px;
            color: #FAFAFA;
            font-weight: lighter;
        }



/* Typographie Spécifique (Ordonnée par page) */
    /* Accueil.html */
    /* Connexion.html */
        .Page-Connexion>div>section>p>a{
            font-family: Raleway, serif;
            font-size: 14px;
            font-weight: normal;
            text-decoration: underline;
        }



    /* Compte.html */
        .Page-Compte>.page>section>.Compte-Maludotheque>a{
            color: #FAFAFA;
        }


    /* Inscription.html */
        .Page-Inscription>.page>section>form>.label-casementionlegale{
            font-size: 14px;
            font-family: Raleway, sans-serif;
            text-align: left;
        }

        .Page-Inscription>.page>section>form>.label-casementionlegale>a{
            font-size: 14px;
            text-decoration: underline;
        }

        .Page-Inscription>.page>section>form>label>input[placeholder]{
            font-style: oblique;
        }


    /* Groupes.html */
    /* Ludotheques.html */
    /* Groupe.html */
    /* Ludotheque.html */
    /* ChoixDuJeu.html */
    /* MentionsLegales.html */
    /* Contact.html */