/* Font titre */
@font-face{
    font-family:"rotulista-regular";
    src:url("https://dafonttop.com/wp-data/r/36/8036/file/Rotulista-Regular.otf") format("woff"),
    url("https://dafonttop.com/wp-data/r/36/8036/file/Rotulista-Regular.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/r/36/8036/file/Rotulista-Regular.otf") format("truetype");
}

/* Font Texte */
@font-face{
    font-family:"metropolis-regular";
    src: url("https://www.1001fonts.com/metropolis-font.html") format("otf")
}


h1{
    font-family: rotulista-regular, sans-serif;
    font-size: 24px;
    text-transform: none;
    color: #6B1D07;
    text-align: center;
    margin: 0 20px;
}

.boutons>div>a{
    font-family: rotulista-regular, sans-serif;
    font-size: 34px;
    text-decoration: none;
    color: #6B1D07;

}

p{
    font-family: metropolis-regular, sans-serif;
    font-size: 14px;
    margin: 20px;
}